body {
	font-family: 'Lato', sans-serif;
	color: #3c3839;
	background-image: url("../images/stormTroopers.jpg");
	background-size: 1400px 800px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	border: none;
	margin-top: 20px;
}

header {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
	letter-spacing: 10px;
	background-color: #bc0000;
	color: #ffffff; 
	padding-top: 15px;
}

h3 {
	margin-left: 10px;
}

#yourCharacter {
	width: 600px;
	height: 120px;
	margin: 5px 0 30px 0;
	border: none;
}

#enemies{
	width: 450px;
	height: 120px;
	margin: 10px 0 30px 0;
}

#defender {
	width: 450px;
	height: 120px;
	margin: 10px 0 30px 0;
}

#commentary {
	width: 400px;
	height: 200px;
	position: relative;
	float: right;
	top: 50px;
	right: 120px;
	line-height: 170%;
	font-size: 22px;
	color: #d3d3d3;
	border-left: 2px solid #3c3839;
	padding: 20px 0 0 20px;
	letter-spacing: 3px;
}

.player {
	height: 100px;
	width: 120px;
	position: relative;
	float: left;
	border-radius: 15px;
	border: 2px solid #bc0000;
	margin: 10px;
	background-image: url("../images/stars.jpg");
}

.playerName {
	position: relative;
	top: 59px;
	padding: 4px 0 4px 0;
	text-align: center;
	background-color: #bc0000;
	color: #ffffff;
	opacity: .5; 
	width: 100%; 
	z-index: 1000;
}

.playerName:hover {
	opacity: .75;
}

.playerImg {
	height: 95px;
	position: relative;
	bottom: 25px;
	left: 28px;
}

.playerImgDiv {
	border: none;
}

.life {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	text-align: center;
	position: relative;
	float: right;
	left: 10px;
	bottom: 135px;
	background-color: #bc0000;
	color: #ffffff;
	font-size: 16px;
}

.life p {
	position: relative;
	top: 5px;
}


#attackBtn {
	position: relative;
	height: 100px;
	width: 120px;
	position: relative;
	float: right;
	border-radius: 15px;
	margin: 10px;
	background-color: #bc0000;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 3px;
	font-family: 'Lato', sans-serif;
	border: 1px solid: #3c3839;
	right: 800px;
	bottom: 150px;
}

.potentialDefender {
	border: 2px solid #ffffff;
}

.defender {
	border: 2px solid #ffff00;
}





